<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kart_Takip_Sis.Properties.Settings.AccountChaseConnectionString"
            connectionString="Data Source=HASAN-DERS\SQLEXPRESS;Initial Catalog=AccountChase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kart_Takip_Sis.Properties.Settings.AccountChaseConnectionString1"
            connectionString="Data Source=DESKTOP-56RDTT9\SQLDB;Initial Catalog=AccountChase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>